@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 89.8%;

    --card: 0 0% 14.9%;
    --card-foreground: 0 0% 89.8%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 89.8%;

    --primary: 0 0% 89.8%;
    --primary-foreground: 0 0% 25.1%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 89.8%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 89.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 89.8%;

    --border: 0 0% 14.9%;
    --input: 0 0% 32.2%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
