@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;

    --background: 0 0% 9%;
    --foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 25%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 64%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 32%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 90%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 9%;

    --border: 0 0% 25%;
    --input: 0 0% 32%;
    --ring: 0 0% 83%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
