@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 25%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 15%;
    --input: 0 0% 32%;
    --ring: 0 0% 83%;

    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 9%;
    --foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 25%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 62.8% 31%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 15%;
    --input: 0 0% 32%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
